<div class="body-container">
  <h1>Politique d&apos;expédition</h1>
  <div class="body-page">
    <p>Les semences vendues sur ce site ont été produites avec un grand souci de qualité. Toutes les semences vendues ont un taux de germination égale ou supérieur à 80%.  Nous ne pouvons garantir le succès de vos récoltes puisque trop de facteurs externes dont la météo sont en cause.  Par contre, si vous n'êtes pas satisfait de vos semences vous pouvez nous contacter, un remboursement ou un échange des sachets est possible, à votre discrétion.</p>
    <p><strong>Postes Canada est en grève, des délais sont à prévoir!!!! Toutes les semences sont expédiées par Postes Canada à un coût fixe de 3.00$. Minimum de 20 sachets pour numéro de suivi.</strong> Dû à la forte demande le temps de préparation est de 5 jours, Les délais de Postes Canada sont de 3-12 jours. Vous aurez vos semences à temps pour vos semis! Merci! <b class="blue-green">Il n'est pas <span>nécessaire</span> de s'inscrire pour placer une commande; simplement rentrer vos informations dans la section Adresse de Livraison.</b></p>
  </div>
</div>

