# General
PORT=3200
NODE_ENV=dev

# Database - PostgreSQL
DATABASE_URL="postgresql://postgres:mira8jar3s@localhost:5433/avila-seed?schema=public"

# Auth
JWT_SECRET=24rt924zhtghg9hu5hg935g539u
TOKENSECRET=my-token-secret
EXPIRESIN=10
