.body-container{
  margin-top: 2rem;
  overflow-y: hidden;

  h1{
    font-size: 2.5em;
    font-weight: 400;
  }
  .body-page{
    margin-top: 1rem;
    word-break: normal;

    .card-container{
      margin-top: 2rem;
      margin-bottom: 1rem;

      .card-item{
        width: 100%;
        margin-bottom: 0.75rem;
        padding: 0.5rem;
        border: 1px solid var(--color-border);
        border-radius: 6px;
        display: flex;
        flex-direction: row;

        .card-item-image{
          padding-right: 0.5rem;
          width: 10rem;
          height: 10rem;
          //background-color: blue;
          border: 1px solid var(--color-bg-menubar);
        }
        .card-item-body{
          width: calc(100% - 11rem);
          padding-left: 0.75rem;
          //border-left: 1px solid black;

          .card-item-header{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-border);

            .card-item-title{
              font-size: 1.4rem;
              font-weight: 400;
              color: var(--title-color);
            }
            .card-item-date{
              width: 20rem;
            }
          }

          .card-item-desc{
            font-weight: 300;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
          }

          .card-item-content{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card-item-action{
              width: 20rem;

              .card-item-link{
                width: 12rem;
                padding: .5rem 1.7rem;
                display: flex;
                align-items: center;
                border: 2px solid transparent;

                i{
                  font-size: 1.5rem;
                  font-weight: 600;
                }
                span{
                  margin-left: 0.5rem;
                }
              }
              .card-item-link:hover{
                border: 2px solid var(--color-border);
              }
            }
          }
        }
      }
    }
  }
}
